# subscription id
subscription_id = "YOUR_AZURE_SUBSCRIPTION_ID"

# Recource Group Name 
resource_group_name ="rg-portainer-lab"

# Azure region
location = "westus2"

# Virtual Network Name
vnet_name = "vnet-portainer-lab"

# Virtual Network add space 
vnet_address_space =["10.20.0.0/16"]

#Subnet Name
subnet_name ="snet-portainer-lab"

#Subnet add space 
subnet_address_prefixes =["10.20.1.0/24"]

#NSG name
nsg_name = "nsg-portainer-lab"

# Public IP addresses allowed to access SSH and Portainer
admin_source_cidrs = [
  "YOUR_PUBLIC_IP/32"
]


# The public SSH key on the computer that will deploy the VM
ssh_public_key_path = "C:/Users/YOUR_USERNAME/.ssh/portainer_azure_2026.pub"

